<div class="jumbotron" >
  <div class="mat-bottom-sheet-container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <br>
        <h3 style="color: red"><strong>Lifebuoy Survey</strong></h3>
        <form id="f" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" placeholder="Enter First Name" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
            <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
              <div *ngIf="firstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" placeholder="Enter Last Name" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
            <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
              <div *ngIf="lastName.errors.required">Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" placeholder="Enter Email ID" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Enter Password" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-group login-group-checkbox" [class.has-error]="q1.touched && q1.invalid">
            <label for="q1" class="control-label">Which brand of antibacterial product are you using?</label>
            <div class="form-control">
              <label class="radio-inline">
              <input type="radio" required  name="q1" value="lifebuoy" [(ngModel)]="model.q1" #q1="ngModel">Lifebuoy
              </label>
              <label class="radio-inline">
              <input type="radio" required #q1="ngModel" name="q1" value="dettol" [(ngModel)]="model.q1">Dettol
              </label>
              <label class="radio-inline">
              <input type="radio" required #q1="ngModel" name="q1" value="protex" [(ngModel)]="model.q1">Protex
              </label>
              <label class="radio-inline">
              <input type="radio" required #q1="ngModel" name="q1" value="antabax" [(ngModel)]="model.q1">Antabax
              </label>
              <label class="radio-inline">
              <input type="radio" required #q1="ngModel" name="q1" value="others" [(ngModel)]="model.q1">Others
              </label>
              <br>
              <span  style="color: red" class="help-block" *ngIf="q1.touched && q1.invalid">
                Please select one option.
              </span>
            </div>
          </div>
          <br>
          <div class="form-group" [class.has-error]="q2.touched && q2.invalid">
            <label for="q2" class="control-label">Are you satisfied with Lifebuoy products?</label>
            <div class="form-control">
              <label class="radio-inline">
                <input type="radio" required #q2="ngModel" name="q2" value="yes" [(ngModel)]="model.q2 ">Yes
              </label>
              <label class="radio-inline">
                <input type="radio" required #q2="ngModel" name="q2" value="no" [(ngModel)]="model.q2">No
              </label>
              <br>
              <span  style="color: red" class="help-block" *ngIf="q2.touched && q2.invalid">
                Please select one option.
              </span>
            </div>
          </div>
          <br>
          <div class="form-group" [class.has-error]="q3.touched && q3.invalid">
            <label for="q3" class="control-label">Are you satisfied with Lifebuoy products?</label>
            <div class="form-control">
              <label>
                <input type="radio" required #q3="ngModel" name="q3" value="yes" [(ngModel)]="model.q3 ">Yes
              <!--</label>-->
              <!--<label class="radio-inline">-->

                <input type="radio" required #q3="ngModel" name="q3" value="no" [(ngModel)]="model.q3">No
              </label>
              <br>
              <span  style="color: red" class="help-block" *ngIf="q3.touched && q3.invalid ">
                Please select one option.
              </span>
            </div>
          </div>
          <!--<div class="form-group login-group-checkbox">-->
            <!--<label for="reg_gender" >Gender</label> <br>-->
            <!--<input type="radio" class="" name="reg_gender" id="male" placeholder="username">-->
            <!--<label for="male">Male</label>-->
            <!--<br>-->
            <!--<input type="radio" class="" name="reg_gender" id="female" placeholder="username">-->
            <!--<label for="female">Female</label>-->
          <!--</div>-->
          <div class="form-group">

            <button mat-button [disabled]="q3.errors || q2.errors || q1.errors" class="btn" >Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
