.example-icon {
    padding: 0 14px;
  }
.example-spacer {
  flex: 1 1 auto;
}
.nav{
  vertical-align: middle;
}
.nav button{
  outline: none;
}
.nav button:hover{
  background-color: white;
  color: red;
  outline: none;

}
.logo{
  height: 100%;
  outline: none;
}
.fill-space{
  flex: 1 1 auto;
}
.search{
  vertical-align: middle;
  height: 100%;
}


