<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->

<mat-toolbar class="nav" color="warn">
  <mat-toolbar-row>
    <img class="logo" routerLink="home" routerLinkActive="active" src="assets/officiallogo.png">
    <button mat-button routerLink="products" routerLinkActive="active">Products</button>
    <!--<button mat-button routerLink="" routerLinkActive="active">Home</button>-->

    <button mat-button routerLink="mission" routerLinkActive="active">Mission</button>
    <button mat-button>Lifebuoy</button>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button routerLink="surveyform" routerLinkActive="active">SurveyForm</button>
    <span class="fill-space"></span>
    <mat-form-field class="" appearance="fill">
      <input matInput placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<br>

