.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
.nav{
  vertical-align: middle;
}
.nav button:hover{
  background-color: white;
  color: red;

}
.logo{
  height: 100%;
}
.fill-space{
  flex: 1 1 auto;
}
.search{
  vertical-align: middle;
  height: 100%;
}

.carousel{
  margin-top: 50px;
  outline: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.btn{
  color: white;
  background-color: red;
}
.btn:hover{
  background-color: white;
  color: red;
  border: 2px red;
}
